<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <div class="container">
        <h2>Contact Us</h2>
        <div class="info">
            <p><strong>Name:</strong> Contact name</p>
            <p><strong>Email:</strong> contact@gmail.com</p>
            <p><strong>Phone:</strong> +998901234567</p>
        </div>
    </div>
</body>
</html>
